@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

* {
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'exo', sans-serif;
    color: aliceblue;
    background-image: url(/assets/bgImageWood.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    perspective: 1000px;


}

.container {

    width: 32rem;
    height: 20rem;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    cursor: pointer;
    perspective: 1000px;

}

.cardFront {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 20px 1px #000;
}

.cardBack,
.cardFront {

    backface-visibility: hidden;
    background-color: #FFFFFF;
    /* background-image: url(/assets/bgImageWood.jpg); */
    background-image: linear-gradient(to bottom right, #66e5bf, #050542);
    position: absolute;
    border-radius: 1.5rem;
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    box-sizing: border-box;
}

.cardBack {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.rectangle {
    width: 100%;
    height: 4rem;
    background-color: #000000;
}

.cardBackBio {
    padding: 1rem;
    font-size: 1rem;
}

.cardLogo {
    align-self: center;
}

.name {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}

.age {
    margin-top: 1rem;
    margin-left: 1.5rem;
    font-size: 1rem;
}


ul {
    margin-top: 4rem;
    margin-left: 1.5rem;
}

li {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 1rem 0rem;

}

.svgIcon {
    padding-right: 0.5rem;
}

#githubLink {
    transition: 0.5s;
}

#githubLink:hover {
    transform: scale(1.1);
    opacity: 100%;
}